{{>header}}
      <div class="content">        
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title"> Segunda entrega curso de node.js</h4>
                <p class="card-category"> en el menú de la izquierda podemos navegar en las funcionalidades</p>
              </div>
              <div class="card-body">
                  <p> Acceder desde el menú de la izquierda a las funcionalidades</p>    
              </div>
            </div>
          </div>
        </div>
        


      </div>
      {{>footer}}